* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  background-color: #0b9444;
  padding: 3px 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
header img {
  width: 30%;
  height: 90%;
  margin-left: 30px;
}
header img:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.caixa .opçoes {
  position: relative;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 20px;
  right: 350px;
}

nav li {
  display: inline-block;
  margin: 0 0 0 150px;
  margin-top: 25px;
}
nav li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.dbr-botao button {
  display: inline-block;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 40px;
  border: 0;
  cursor: pointer;
  margin: 10px;
  margin-left: 640px;
  margin-top: 30px;
  background-color: #f01924;
  color: #fff;
}
.dbr-botao button:hover {
  transform: scale(1.05);
  transition: 0.2s;
  box-shadow: 0px 0px 8px #f01924;
}
body {
  background-color: #0b9444e3;
}
.topo-site .interface {
  text-align: center;
  padding: 40px 4%;
  margin-top: 200px;
  color: #fff;
  font-size: 30px;
  display: block;
}
.promocoes {
  display: inline;
  padding: 40px 4%;
  margin-top: px;
}
.promocoes img {
  width: 260px;
  height: 400px;
  background-color: #f01924;
  border-radius: 25px;
  margin-top: 60px;
}

.loja{
  padding: 60px 0%;
  justify-content: center;
  margin-left: 25px;
}
 
 .loja h1{
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.loja1 img{
  width: 260px;
  height: 400px;
  border-radius: 25px;
  margin
}

.loja .loja1{
  display: inline-block;
  position: relative;
  width: 260px;
  height: 400px;
  border-radius: 25px;
  margin: 20px 30px;
}


.loja1 img{
  position: relative;
  z-index: -1;
}


.legenda {
  visibility: hidden;
  position: absolute;
  left: 80px;
  right: 80px;
  bottom: 200px;
  text-align: center;
}
.legenda p{
  margin: 40px 5px;  
  margin-bottom: 120px;
  color: #fff;
  font-size: 15pt;
  font-weight: bold; 
  display: block;
  position: relative;
}

.legenda button{
  width: 0;
  border-style: none;
  text-decoration: none;
  border: none;
  position: absolute;
  cursor: pointer;
  margin-top: 120px;
  margin-left: 32px;
  display: flex;
}


.legenda i{
  font-size: 30pt;
  background-color: #0b9444;
  color: #fff;
  border-radius: 100%;
 
}

.loja1:hover .legenda{
  visibility: visible;
  transition: 0.5s;
}
.loja1:hover{
  background-color: #00000048;
  transition: 0.5s;
}
